.robo{
    width: 150px;
    height: 150px;
    padding: 50px;
    display:inline-block;
    vertical-align: middle;
}

.fundorobo{
    background-color: rgba(0, 247, 247, 0.144);;
    width: 1300px;
    height: auto;
    display: flex;
    align-items: center;

font-family: 'Montserrat', sans-serif;
font-weight: 700;
}

.texto{
    background-color: rgb(0, 0, 255);
    color: white;
    border-radius: 70px;
    width: 150px;
    height: 35px;
    padding: 2px 10px;
}

.opções{
    padding: 5px;
}

#carrega{
    width: 100vw;
    height: 20px;
}
#separa{
    display: flex;
}
#aba{
    height: 820px;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.centro{
    display: flex;
}

.tlb_esq{
    margin: 0px auto auto 50px;
}

.espaçadopae{
    display: flex;
    align-items: center;
    justify-content: space-between;
}